@page "{handler?}"
@model TopFilms.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Movie Details</h1>

<div class="card mb-3">
    <div class="row g-0 my-class">
        <div class="col-md-44">
            <img src="@Model.Movie.ImagePath" class="img-fluid rounded-start" alt="@Model.Movie.Title">
            <div class="button">
                <a asp-page="Edit" asp-route-id="@Model.Movie.Id" class="btn btn-primary ee">Edit</a>
                <a asp-page="Delete" asp-route-id="@Model.Movie.Id" class="btn btn-danger dd">Delete</a>
                <a asp-page="Index" class="btn btn-secondary bb">Back to List</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Movie.Title (@Model.Movie.ReleaseYear)</h5>
                <p class="card-text"><strong>Genre:</strong> @Model.Movie.Genre</p>
                <p class="card-text">@Model.Movie.Description</p>
            </div>
        </div>
    </div>
</div>
