@page "{handler?}"
@model TopFilms.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Top Films</h1>

@foreach (var item in Model.Movie)
{
    <div class="card mb-3 my-class">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@item.ImagePath" class="img-fluid rounded-start" alt="item.Title">
                <div class="button-index">
                    <a asp-page="Details" asp-route-id="@item.Id" class="btn btn-secondary ddd">Details</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.Title (@item.ReleaseYear)</h5>
                    <p class="card-text"><strong>Genre:</strong> @item.Genre</p>
                    <p class="card-text">@item.Description</p>
                </div>
            </div>
        </div>
    </div>
}
